/* index.css */ 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.lh20 {
  line-height: 20px;
}

.f14 {
  font-size: 14px;
}

.f16 {
  font-size: 16px;
}

/* Webkit-Scrollbar */
.list-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.list-scroll::-webkit-scrollbar-thumb {
  background: rgba(9, 30, 66, 0.25);
  border-radius: 10px;
}

.list-scroll::-webkit-scrollbar-track{
  background: rgba(9, 30, 66, 0.08);
  border-radius: 10px;
}

.main-container-scroll::-webkit-scrollbar{
  width: 12px;
  height: 12px;
}

.main-container-scroll::-webkit-scrollbar-thumb {
  background: rgba(9, 30, 66, 0.25);
  border-radius: 10px;
}

.main-container-scroll::-webkit-scrollbar-track {
  background: rgba(9, 30, 66, 0.08);
  border-radius: 10px;
}

/* App.css */
.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Card.js */ 

.card-component {
  width: 256px;
  height: 32px;
  overflow: hidden;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 auto 8px;
  background-color: #fff;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
}

.card-component:hover{
  background-color: rgba(9,30,66,0.04);
}

.card-title {
  padding: 6px 8px 2px;
}

/* CardList.js */
.list-wrapper {
  width: 272px;
  height: 100%;
  margin: 0 4px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

.card-list {
  max-height: 100%;
  background-color: #ebecf0;
  display: flex;
  border-radius: 3px;
  flex-direction: column;
  align-items: center;
}

.header-list {
  min-height: 20px;
  padding: 10px 8px;
  width: 100%;
  box-sizing: border-box;
}

.header-list-name {
  min-height: 20px;
  max-height: 256px;
  width: 100%;
  background: transparent;
  border: none;
  box-sizing: border-box;
  border-radius: 3px;
  font-weight: 600;
  margin: -4px 0;
  padding: 4px 8px;
  color: #172b4d;
  overflow: hidden;
  overflow-wrap: break-word;
  resize: none;
  white-space: normal;
}


.list-card {
  overflow-x: hidden;
  overflow-y: auto;
}
.add-another-card {
  width: 100%;
  min-height: 38px;
}

.card-composer {
  display: block;
  text-decoration: none;
  text-align: left;
  margin: 2px 8px 8px;
  padding: 4px 8px;
  border-radius: 3px;
}

.card-composer:visited{
}


.card-composer:hover{
  background-color: rgba(9,30,66,0.08);
  color: #172b4d;
}


.icon-add::before{
  content: "\002B"
}

.add-another-card-text{
}

/* CardListContainer.js */
.cardlist-canvas {
  display: flex;
  height: 650px;
  flex-direction: column;
}
.list-container {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 10px 0;
}


